.LinijaSearch {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1.5em auto;
}

.LinijaSearch label {
  font-size: 1.125rem;
  margin: 1.5em 0 0.5em;
  color: #080454;
  font-weight: 500;
}

.LinijaSearch select {
  font-size: 1.125rem;
  padding: 0.4em 0.6em;
  color: #080454;
  border-radius: 10px;
  border: 1.5px solid #080454;
}

.LinijaPrikaz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 4em auto 2em auto;
}

.LinijaPrikaz h1 {
  font-size: 1.4rem;
  color: #080454;
  text-align: center;
  margin-bottom: 0.3em;
}

.redVoznje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.redVoznjeDugme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.dugmeRedVoznjePravac1,
.dugmeRedVoznjePravac2 {
  font-size: 1.125rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 1.5px solid #080454;
  color: #080454;
}

table {
  border: 3px solid #080454;
  margin: 1.5em 0;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th {
  background-color: #080454;
  color: white;
  font-size: 1rem;
  padding: 0.3em 0.5em;
  text-align: center; /* ili start ako želiš levo */
}

td {
  background-color: #efefef;
  text-align: center; /* isto kao th */
  padding: 0.4em 0.6em;
  font-size: 1rem;
  font-weight: 300;
  color: #080454;
  border: 1px solid #ccc;
}


.hidden {
  display: none;
}

.visible {
  display: table-row;
}

#next {
  padding: 0.5em 1em;
  font-size: 1.125rem;
  border-radius: 10px;
  border: 1.5px solid #080454;
  color: #080454;
  font-weight: 500;
}

.kliknutoDugme {
  background-color: #080454;
  color: white;
}



#mapaLinije {
  height: 400px;
  width: 90%;
  margin: 2em auto;
}

@media (min-width:1024px) {
  .LinijaSearch{
    width: 70%;
  }
}
